body
{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/*
-------------------------------------GLAVNI DEO --------------------------------
*/
.Panel{
    border: 2px solid black;
    box-shadow: black 4px 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.navigacija2
{
  width: 25%;
  margin: 2px;
    padding: 0;
    overflow: hidden;
}
.navigacija2_li
{
  border: 1px solid black;
}
.navigacija2_li:hover
{
  float: left;
  border-right:1px solid transparent;
}
.LinkLevo
{
    display: block;
    color: whitesmoke;
    font-family: fantasy;
    font-size: 15px;
    text-align: center;
    padding: 7px 14px;
    text-decoration: none;
}
.LevaNavigacija
{
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  overflow: auto;
  float: left;
  background-color: RGB(240, 150, 215);

  
}
.RadniDeo
{
  background-color: transparent;
  width: 70%;
  
}

.PoljeArtikla{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  float: left;
  text-align: center;
  margin:1%;
}

.brojArtikla{
  margin-left:25%;
  margin-right: 25%;
  width: 50%;
}

.SlikaArtikla{
  width: 150px;
  height: 150px;
}

.Korpa{
  width: 30%;
  
  border:1px solid black;
}









/*
--------------------------------------- SKROZ DONJI DEO / FOOTER -------------------
*/

.Footer{
    border: 1px solid yellowgreen;
    height:10% ;
    width: 100%;
}

a
{
    text-align: left;
    font-size: 17px;
    margin-left: 2px;
    margin-top:2px;
    text-decoration: none;
}
a:hover{
    color:yellow;
    cursor:pointer;
    text-decoration: underline;
    
}




/*
---------------------------------- GORNJI DEO + LOGO --------------------------------
*/
.GornjiDeo
{
    display: flex;
    flex-direction: row;

}
.Logo
{
    width: 200px;
    Height: 200px;
    background-image: url('Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.DesniDeo
{
    background-color: white;
    width: 80%;
    height: 200px;
    margin: auto;
    
}
.slike{
  width: 100%;
  height: 100%;
  margin:auto;
}




/*
-------------------------------------- NAVIGACIJA (GLAVNA) -----------------------------------
*/
.poslednja
{
    float:right;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color: RGB(87, 0, 55);
    top: 0;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-left: 1px solid #bbb;
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }


  /*
  -------------------------RESPONSIVE DIZAJN -------------------------------
  */
  @media screen and (max-width: 550px ) {
     li a {
      text-align: center;
      float:center;
      padding: 7px;
    }
    .Logo{width:180px;height:200px}
  }

img{vertical-align: middle;}



